// Colors

$black: #333533;
$grey: #ddd;
$yellow: #e09f3e;
$blue: #335c67;
$cream: #fff3b0;
$gold: #e09f3e;
$red: #9e2a2b;
$brown: #540b0e;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

$primary-font: 'Inconsolata', monospace;
$title-font: 'Rubik', sans-serif;
